<header>
  <p class="nav">
    <a href="/">Archive</a>
    <a href="/about">About</a>
    <a id="theme-toggle">dark</a>
  </p>
</header>
<script>
  function dark() {
    document.documentElement.setAttribute('theme', 'dark');
    document.getElementById("theme-toggle").textContent = "dark"
    window.localStorage.setItem('theme', 'dark')
  }

  function light() {
    document.documentElement.setAttribute('theme', 'light');
    document.getElementById("theme-toggle").textContent = "light"
    window.localStorage.setItem('theme', 'light')
  }

  if (window.localStorage.getItem("theme") == "light") {
    light()
  } else {
    dark()
  }

  function switchTheme(e) {
    if (document.documentElement.getAttribute('theme') == "light") {
      dark()
    } else {
      light()
    }
  }

  document.getElementById('theme-toggle').addEventListener('click', switchTheme);
</script>